body{

    background-color: #282A36;
}

h1{

    text-align: center;
    font-size: 80px;
    margin: auto;
    padding-top: 400px;
    color: aqua;
}
.bold{
    padding-left: 838px;
    margin-top: 50px;
    color: aqua;
    
  
}

.bold b{

    font-size: 30px;
   
}